::-webkit-scrollbar{
    display: none;
}

html{
    --mainColor: white;
    --secondColor: black;
    --specials: maroon;
}

#root{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: #0077cc;
} 